In [1]:
import pandas as pd
import numpy as np
import altair as alt
import re

In [2]:
df = pd.read_csv('./data/9_2_2022-Roster-Freeze-Salary-List.csv')

In [3]:
df.head()

,Club,Nickname,Last Name,First Name,Position,2022 Base Salary,2022 Guar. Comp.
0,Atlanta United,NaN,Almada,Thiago,M-F,"$1,650,000.00","$2,332,000.00"
1,Atlanta United,NaN,Alonso,Osvaldo,M,"$84,000.00","$84,000.00"
2,Atlanta United,Mikey,Ambrose,Mikey,D,"$85,444.00","$85,444.00"
3,Atlanta United,NaN,Araujo,Luiz,F-M,"$3,600,000.00","$4,480,333.00"
4,Atlanta United,NaN,Barco,Ezequiel,M,"$2,200,000.00","$2,200,000.00"

In [4]:
df.columns = \
    [
        'club', 'nickname', 'last_name', 'first_name', 
        'position', 'base_salary_2022', 'guar_comp_2022'
        ]

new_order = [
    'club', 'first_name', 'last_name', 'nickname', 
    'position', 'base_salary_2022', 'guar_comp_2022'
    ]

df = df[new_order]

In [5]:
def clean_salary(string):
    pattern = "[,$]|(\.00)"
    output = re.sub(pattern, "", string)
    output = float(output)
    return output

In [6]:
df['base_salary_2022'] = df['base_salary_2022'].apply(clean_salary)
df['guar_comp_2022'] = df['guar_comp_2022'].apply(clean_salary)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   club              894 non-null    object
 1   first_name        894 non-null    object
 2   last_name         887 non-null    object
 3   nickname          55 non-null     object
 4   position          891 non-null    object
 5   base_salary_2022  894 non-null    float64
 6   guar_comp_2022    894 non-null    float64
dtypes: float64(2), object(5)
memory usage: 49.0+ KB

In [8]:
df

,club,first_name,last_name,nickname,position,base_salary_2022,guar_comp_2022
0,Atlanta United,Thiago,Almada,NaN,M-F,1650000.0,2332000.0
1,Atlanta United,Osvaldo,Alonso,NaN,M,84000.0,84000.0
2,Atlanta United,Mikey,Ambrose,Mikey,D,85444.0,85444.0
3,Atlanta United,Luiz,Araujo,NaN,F-M,3600000.0,4480333.0
4,Atlanta United,Ezequiel,Barco,NaN,M,2200000.0,2200000.0
...,...,...,...,...,...,...,...
889,Vancouver Whitecaps,Caio Alexandre,Sousa e Silva,NaN,M,500000.0,562500.0
890,Vancouver Whitecaps,Russell,Teibert,NaN,M,400000.0,449375.0
891,Vancouver Whitecaps,Ranko,Veselinovic,NaN,D,405000.0,490500.0
892,Vancouver Whitecaps,Pedro,Vite,NaN,M,556000.0,609997.0
893,Vancouver Whitecaps,Brian,White,NaN,F,456000.0,456000.0

In [9]:
df.isna().sum()

club                  0
first_name            0
last_name             7
nickname            839
position              3
base_salary_2022      0
guar_comp_2022        0
dtype: int64

In [10]:
df[df['last_name'].isna()]

,club,first_name,last_name,nickname,position,base_salary_2022,guar_comp_2022
194,Colorado Rapids,Max,NaN,Max Alves da Silva,M,212000.0,293360.0
322,FC Dallas,Nanu,NaN,Eulanio Angelo Chipela Gomes,D,600000.0,668750.0
354,Houston Dynamo,Zeca,NaN,Jose Carlos Cracco Neto,D,218182.0,259015.0
612,New York Red Bulls,Luquinhas,NaN,Lucas De Lima Linhares,F,1050000.0,1173125.0
765,San Jose Earthquakes,Judson,NaN,NaN,M,420000.0,425000.0
766,San Jose Earthquakes,Rodrigues,NaN,Rodrigues,D,550000.0,608000.0
859,Toronto FC,Auro Jr.,NaN,Auro Jr.,D,400000.0,428750.0

In [11]:
df.loc[194, 'last_name'] = "Alves da Silva"
df.loc[322, 'first_name'] = "Eulanio"
df.loc[322, 'last_name'] = "Angelo Chipela Gomes"
df.loc[322, 'nickname'] = "Nanu"
df.loc[354, 'first_name'] = "Jose"
df.loc[354, 'last_name'] = "Carlos Cracco Neto"
df.loc[354, 'nickname'] = "Zeca"
df.loc[612, 'first_name'] = "Lucas"
df.loc[612, 'last_name'] = "De Lima Linhares"
df.loc[612, 'nickname'] = "Luquinhas"
df.loc[765, 'last_name'] = "Silva Tavares"
df.loc[766, 'first_name'] = "Antonio"
df.loc[766, 'last_name'] = "Josenildo Rodrigues de Oliveira"
df.loc[766, 'nickname'] = "Rodrigues"
df.loc[859, 'first_name'] = "Auro"
df.loc[859, 'last_name'] = "Alvaro da Cruz Junior"
df.loc[859, 'nickname'] = "Auro Jr."

In [12]:
df[df['position'].isna()]

,club,first_name,last_name,nickname,position,base_salary_2022,guar_comp_2022
92,CF Montreal,Sean,Rea,NaN,NaN,66724.0,74809.0
93,CF Montreal,Nathan-Dylan,Saliba,NaN,NaN,66724.0,77200.0
664,Philadelphia Union,Jeremy,Rafanello,NaN,NaN,65500.0,74774.0

In [13]:
df.loc[92, 'position'] = "M-F"
df.loc[93, 'position'] = "M-F"
df.loc[664, 'position'] = "M-F"

In [14]:
df['nickname'].fillna('MISSING', inplace=True)

In [15]:
df[df['club']=='DC United'].sort_values(by='guar_comp_2022', ascending=False)

,club,first_name,last_name,nickname,position,base_salary_2022,guar_comp_2022
227,DC United,Christian,Benteke,MISSING,F,4000000.0,4182778.0
234,DC United,Taxiarchis,Fountas,MISSING,F,1600000.0,1641000.0
242,DC United,Ola,Kamara,MISSING,F,1500000.0,1520000.0
245,DC United,Ravel,Morrison,MISSING,M,850000.0,917844.0
249,DC United,Victor,Palsson,MISSING,M,850000.0,863125.0
229,DC United,Steven,Birnbaum,MISSING,D,750000.0,762500.0
239,DC United,Bill,Hamid,MISSING,GK,700000.0,700000.0
252,DC United,Nigel,Robertha,MISSING,F,550000.0,622406.0
253,DC United,Martin,Rodriguez,MISSING,F-M,456000.0,597200.0
258,DC United,Brad,Smith,MISSING,D,550000.0,591250.0
230,DC United,Russell,Canouse,MISSING,M,515000.0,515000.0
232,DC United,Chris,Durkin,MISSING,M,400000.0,445000.0
240,DC United,Brendan,Hines-Ike,MISSING,D,375000.0,417917.0
246,DC United,Andy,Najar,MISSING,D,375000.0,375000.0
254,DC United,Rafael,Romo,MISSING,GK,250000.0,285833.0
251,DC United,Donovan,Pines,MISSING,D,150000.0,152000.0
248,DC United,Chris,Odoi-Atsem,MISSING,D,140000.0,151000.0
228,DC United,Miguel,Berry,MISSING,F,120000.0,120000.0
235,DC United,Tyler,Freeman,MISSING,F,110000.0,112500.0
233,DC United,Kristian,Fletcher,MISSING,F,84000.0,105189.0
247,DC United,David,Ochoa,MISSING,GK,103500.0,103500.0
250,DC United,Adrien,Perez,MISSING,F,89513.0,89513.0
257,DC United,Andrew,Skundrich,Drew,M-F,89513.0,89513.0
226,DC United,Antonio,Alfaro,MISSING,D,89513.0,89513.0
237,DC United,Jacob,Greene,MISSING,D-M,85444.0,88444.0
259,DC United,Kimarni,Smith,MISSING,M-F,85444.0,85444.0
243,DC United,Jon,Kempin,MISSING,GK,84000.0,84000.0
238,DC United,Sami,Guediri,MISSING,D,84000.0,84000.0
255,DC United,Gaoussou,Samake,MISSING,D-M,84000.0,84000.0
225,DC United,Matai,Akinmboni,MISSING,D,65500.0,75000.0
236,DC United,Jeremy,Garay,MISSING,M,65500.0,69550.0
241,DC United,Jackson,Hopkins,MISSING,M,65500.0,65833.0
244,DC United,Theodore,Ku-DiPietro,MISSING,M,65500.0,65500.0
256,DC United,Hayden,Sargis,MISSING,D,65500.0,65500.0
231,DC United,Sofiane,Djeffal,MISSING,M,65500.0,65500.0

In [16]:
avg_comp_by_club = df[['club', 'guar_comp_2022']].groupby('club').agg(np.mean).sort_values(by='guar_comp_2022', ascending=False).reset_index()
avg_comp_by_club

                      club  guar_comp_2022
0               Toronto FC    1.111542e+06
1                LA Galaxy    8.532286e+05
2              Inter Miami    7.331599e+05
3             St. Louis SC    7.167749e+05
4             Chicago Fire    6.674401e+05
5                     LAFC    6.129641e+05
6      Seattle Sounders FC    6.065624e+05
7           Atlanta United    6.062529e+05
8            Columbus Crew    5.964269e+05
9   New England Revolution    5.807673e+05
10    Sporting Kansas City    5.457853e+05
11          Houston Dynamo    5.271089e+05
12           FC Cincinnati    5.251964e+05
13        New York City FC    5.001257e+05
14               FC Dallas    4.925526e+05
15               Austin FC    4.879929e+05
16            Nashville SC    4.715260e+05
17               DC United    4.652101e+05
18     Vancouver Whitecaps    4.381514e+05
19         Orlando City SC    3.985337e+05
20          Real Salt Lake    3.948432e+05
21        Portland Timbers    3.923278e+05
22             CF Montreal    3.731193e+05
23      Philadelphia Union    3.700102e+05
24            Charlotte FC    3.644269e+05
25    San Jose Earthquakes    3.567424e+05
26        Minnesota United    3.380956e+05
27         Colorado Rapids    3.303423e+05
28      New York Red Bulls    3.110447e+05
29     Major League Soccer    1.739167e+05

In [17]:
chart_guar_comp = alt.Chart(avg_comp_by_club).mark_bar().encode(
    # x='club',
    x=alt.X(
        'club:N', title='Team', sort='-y'
        ),
    y=alt.Y(
        'guar_comp_2022', 
        title='Average guaranteed compensation'
        ),
    color=alt.Color(
        'guar_comp_2022', 
        legend=alt.Legend(
            title="Avg. Guaranteed Compensation",
            format='$.2s'
            )
        ),
    tooltip=[
        alt.Tooltip(field='club', title='MLS Team'),
        alt.Tooltip(field='guar_comp_2022', title='Avg. guaranteed compensation', format='$,.2f')
    ]
).properties(
    title='MLS Average Guaranteed Player Compensation by Team'
).configure(
    title={
        'font':'Calibri',
        'fontSize':20,
        'anchor':'middle',
    },
    axisX={
        'labelFont':'Calibri',
        'labelFontSize':12.5,
        'labelAngle':-60,
        'titleFont':'Calibri',
        'titleFontSize':15
    },
    axisY={
        'labelFont':'Calibri',
        'labelFontSize':12.5,
        'titleFont':'Calibri',
        'titleFontSize':15,
        'format':'$.2s',
    }
)

chart_guar_comp

alt.Chart(...)

In [18]:
chart_guar_comp.save(
    'guar_comp_html_.html',
    embed_options={'renderer':'svg', 'actions':False}
    )